#MenuPanel {
  margin-bottom: $pg !important;
  padding: $hpg;
  min-height: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  border: 1px solid var(--panel-border-color);
  box-shadow: 0 4px 14px var(--panel-shadow-color);

  .AppBrand_menu {
    margin-right: 8px;
    padding-right: 10px;
    border-right: 1px solid var(--panel-border-color);
  }

  > * {
    text-transform: none;
    min-width: 32px;
    font-weight: 400;
    padding: 3.2px 6.4px;
    line-height: 1;
  }
}
